.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stak-div {
  padding: 20px;
  border: 1px solid grey;
  margin: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.stake-input{
  padding: 20px 10px;
  margin: 10px;
  border-radius: 12px;
  /* width: 100%; */
}